.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #efefef;
}

.results-list {
  width: 83%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

@media screen and (max-width:480px) {
  .hid {
    display: none;
  }
}
